* {
	margin:0;
	padding:0;

}

header {
	width:100%;

}

header nav {
	width:100%;
	height: 9%;
	background:#20a8e9;
	position: fixed;
	z-index: 1000;

}

.menu_bar {
	display:none;
}
header nav img{

    width: 170px;
    height: 90px;
    float: left;
    margin-left: 80px;
    position: absolute;
    top: -20px;
    

}
header .imagen img{
	visibility: hidden;
}

header nav ul {
	overflow:hidden;
	list-style:none;
	margin-left: 270px;

}

header nav ul li {
	float:left;
	margin-right: 10px;
	

}

header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}

header nav ul li span {
	margin-right:5px;
	margin-left: 5px;
}

header nav ul li a:hover {
	background:#1E90FF;
	text-decoration:none;

	-webkit-border-radius: 9000px;
	-webkit-border-bottom-right-radius: 9000px;
	-moz-border-radius: 9000px;
	-moz-border-radius-bottomright: 9000px;
	border-radius: 9000px;
	border-bottom-right-radius: 9000px;  
}

section {
	z-index: -1;
	padding:90px;
}

@media only screen and (max-width: 475px) {
  body {

  	
  }
}

@media screen and (max-width:940px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;

	}

	header .imagen img{

	visibility: visible;
	width: 170px;
    height: 90px;
    float: center;
    position:absolute;
    top: -15px;
    
}


	header nav img{

    visibility: hidden;
    

}
	header nav ul {
	overflow:hidden;
	list-style:none;
	margin-left: 20px;
}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

	.menu_bar {
		display:block;
		width:100%;
		background:#20a8e9;
		height: 65px;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#20a8e9;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	.menu_bar span {
		float:right;
		font-size:40px;
	}	
}

/* de aqui en adelante es lo que Jonathan agrego =D de la pagina principal y las opciones */
body{
	background: ;
	font-size: 16px;
}

.ini{
	height: 50%;
	background: white;
	color: white;
	text-align: center;
	padding-top: 10%;
}

#asistencia{
	background: #19bd9b;
}

#capacitacion{
	background: #159f85;
}

#financiamiento{
	background: #f1c40f;
}

#networking{
	background: #f29c11;
}

#red{
	background: #e74b3c;
}

#asistencia:hover{
	background: white;
	color: #19bd9b;
	font-size: 2em;
}

#capacitacion:hover{
	background: white;
	color: #159f85;
	font-size: 2em;
}

#financiamiento:hover{
	background: white;
	color: #f1c40f;
	font-size: 2em;
}

#networking:hover{
	background: white;
	color: #f29c11;
	font-size: 2em;
}
